@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: #201b2c;
}

nav {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 8px 40px #00000025;
}

nav > a {
    text-decoration: none;
    color: #00ff88;
}   

.main-playlists {
    width: 98vw;
    height: 92vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.main-playlists > p {
    color: white;
    font-size: 1em;
}

.main-playlists > form {
    width: 50vw;
    padding: 30px;
    background: #2f2841;
    box-shadow: 0px 10px 40px #00000056;
    border-radius: 20px;
}

.main-playlists .checkbox-label {
    color: #00ff88;
}

.main-playlists .input-playlist {
    width: 220px;
    padding: 2px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

.success {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-success {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-success > h1 {
    font-size: 2vw;
    padding: 10px;
    margin-top: 30px;
    color: #77ffc0;
}

.left-success-image {
    width: 30vw;
    padding-top: 20px;
}

.right-success {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-success > a {
    background: #00ff88;
    color: #2b134b;
    border-radius: 20px;
    border: none;
    width: 110px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.main-playlists > form > button {
    margin-top: 25px;
    background: #00ff88;
    color: #2b134b;
    border-radius: 20px;
    border: none;
    width: 110px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    display: flex;
    margin: auto;
}

.main-login {
    width: 100vw;
    height: 100vh; 
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 2vw;
    padding: 10px;
    margin-top: 30px;
    color: #77ffc0;
}

.left-login-image {
    width: 30vw;
    padding-top: 20px;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 800;
}

.card-login > a {
    margin-top: 25px;
    background: #00ff88;
    color: #2b134b;
    border-radius: 20px;
    width: 75%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vh;
    }

    .left-login > h1 {
        font-size: 17px;
    }

    .right-login {
        width: 70%;
        height: auto;
    }
}