<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists</title>
</head>
<body>
    <form action="{{ url_for('create_playlist') }}" method="POST">
        {% for nome in playlist_info %}
            <input type="checkbox" id="{{ nome }}" name="{{ nome }}" value="{{ nome }}">
            <label for="{{ nome }}">{{ nome[1] }}</label>
            <br>
        {% endfor %}
        <br>
        <input type="text" name="playlist_name" required placeholder="Nome da playlist que será criada.">
        <button type="submit">Confirmar</button>
    </form>
</body>
</html>