{% extends 'base.html' %}


{% block title %}
    <title>Playlists</title>
{% endblock %}

{% block main %}
    <main class="main-playlists">
        <p>Selecione quais playlists você gostaria de unir</p>
        <form action="{{ url_for('create_playlist') }}" method="POST">
            {% for nome in playlist_info %}
                <input type="checkbox" id="{{ nome }}" name="{{ nome }}" value="{{ nome }}">
                <label class="checkbox-label" for="{{ nome }}">{{ nome[1] }}</label>
                <br>
            {% endfor %}
            <br>
            <br>
            <input class="input-playlist" type="text" name="playlist_name" required placeholder="Nome da playlist que será criada">
            <br>
            <button type="submit">Confirmar</button>
        </form>
    </main>
{% endblock %}
